{% extends 'base.html' %}
{% block page-title %}
    <title>Modificar prenda</title>
{% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <main>
        <form method='POST'> {% csrf_token %}
            {% for field in form %}
                <div class="form">
                    {{ field }}
                </div>
            {% endfor %}
            <input class="form btn" type='submit' value='Guardar'>
        </form>

        <div class="buttons">
            <a class="btn" href="{% url 'all' %}">Volver</a>
        </div>
    </main> 
{% endblock %}