{% extends 'base.html' %}
{% block page-title %}
    <title>Tu placard</title>
{% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <main>
        <div class="prendas">
            {% for item in object_list %}
                <div class="prenda-box">
                    <a class="prenda-title" href="{% url 'item-detail' pk=item.id %}"><h3>{{item.title}}</h3></a>
                    <h4>{{item.description}}</h4>
                </div>
            {% endfor %}
        </div>
        <div class="buttons center">
            <a class="btn" href="{% url 'create' %}">Agregar prenda</a>
            <a class="btn" href="{% url 'profile' %}">Ir a perfil</a>
        </div>
    </main>
{% endblock %}